<!--
  Generated template for the NosotrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>nosotros</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div>
		<img width="100%" src="assets/imgs/imagelogin.png" alt="">
	</div>


	<ion-card>
		<ion-card-content class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsa molestiae qui praesentium saepe illo nam ipsum eligendi ab adipisci culpa fugiat molestias architecto ut corporis, excepturi quidem odit sint.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed praesentium eos veritatis sint! Voluptas possimus minima laboriosam eius quisquam, tempore itaque in! Sunt ab corrupti sapiente quod rem eos deserunt.	
		</ion-card-content>
	</ion-card>
</ion-content>
