<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Principal" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Notificaciones" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Servicios" tabIcon="leaf"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Dispositivos" tabIcon="phone-portrait"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Ubicación" tabIcon="compass"></ion-tab>
</ion-tabs>
