<!--
  Generated template for the DefinirCoordenadasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Definir Coordenadas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding scroll="false">
    <ion-list>
        <ion-item *ngIf="pre.latitud !== 0">
          <ion-label fixed>Latitud</ion-label>
          <ion-input type="text" readonly [(ngModel)]="pre.latitud"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Longitud</ion-label>
          <ion-input type="text" readonly [(ngModel)]="pre.longitud"></ion-input>
        </ion-item>
        <ion-item *ngIf="pre.altitud !== 0">
            <ion-label fixed>Altitud (m)</ion-label>
            <ion-input type="text" [(ngModel)]="pre.altitud"></ion-input>
          </ion-item>
          <ion-item *ngIf="pre.accuracy">
            <ion-label>Precisión: {{pre.accuracy}} metros</ion-label>
            <!-- <span></span> -->
          </ion-item>
          <!-- <ion-item >
            <button ion-button (click)="reset()">Reestablecer</button>
          </ion-item> -->
      </ion-list>
  <div #map id="map"></div>
</ion-content>
