<!--
  Generated template for the UbicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>Ubicación</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div #map id="map"></div>
</ion-content>
