<!-- Generated template for the ServicioItemComponent component -->
<ion-row (click)="verServicio()">
  <ion-col col-8>
    <div>{{servicio.name}}</div>
    <div>{{servicio.descrip}}</div>
  </ion-col>
  <ion-col col-4>
      <div>{{servicio.evaluation_vars[0]}}</div>
      <div>VPº</div>
  </ion-col>
</ion-row>
