page-home {
	.favoritos{
		color: white;font-size: 2em;
	}
	.servicionombre{
		font-weight: bold;color:#347B36 ;
	}
	.valorsecundario{font-size: 10px;}
	.temperatura{
		text-align: center;font-size: 2em;font-weight: bold;
	}
	.valorprimario{
		color:#347B36;text-align: center;
	}
	.temperaturas{
		text-align: center;
		font-size: 4em;font-weight: bold; 
		background: rgba(150,168,132,0.5);
	}

	@media screen and (min-width: 319px) {
		ion-slides{
			margin-top:-13%;
			height:250px;
		}
	}

	@media screen and (min-width: 374px) {
		ion-slides{
			margin-top:-5%;
			height:300px;
		}
	}

	@media screen and (min-width: 480px) {
		ion-slides{
			margin-top:0%;
			height:300px;
		}
	}

	[col-12]{
		padding:0 !important;
	}
}
