<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col col-10>
          <img src="assets/imgs/logo2.png" alt="">
        </ion-col>
        <ion-col col-2 style="margin-top: 10px;">
          <ion-buttons end="" class="bar-buttons bar-buttons-md" (click)="presentPopover($event)">
            <button color="dark" icon-only="" ion-button="" class="disable-hover bar-button bar-button-md bar-button-default bar-button-default-md bar-button-md-dark">
              <span class="button-inner">
                <ion-icon style="font-size: 2em;color: white;" name="more" role="img" class="icon icon-md ion-md-more" aria-label="more"></ion-icon>
              </span>
              <div class="button-effect" style="transform: translate3d(-18px, -16px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 260ms, opacity 182ms 78ms;"></div></button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  </ion-header>

  <ion-content >
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides>
    <ion-slide>
      <img width="100%" height="300" src="assets/imgs/slider1.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img width="100%" height="300" src="assets/imgs/slider2.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img width="100%" height="300" src="assets/imgs/slider3.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <div style="background: #8BC832;">
    <div padding>
      <ion-icon ios="ios-star" md="md-star" class="favoritos"></ion-icon>
      <span class="favoritos">Favoritos</span>
    </div>

    <ion-grid *ngFor="let service of services">
      <ion-row>
        <ion-col col-12>
          <ion-card >
            <ion-row>
              <ion-col col-7>
                <ion-row>
                  <ion-col col-12>
                    <h3 class="servicionombre">{{service.name}}</h3>
                  </ion-col>
                  <ion-col col-6 >
                    <p class="valorsecundario">Valor Secundario</p>
                    <p class="temperatura">41 º</p>
                  </ion-col>
                  <ion-col col-6>
                    <p class="valorsecundario">Valor Secundario</p>
                    <p class="temperatura">1 º</p>
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-col col-5>
               <h3 class="valorprimario">Valor primario</h3>
               <p class="temperaturas">31 º</p>
             </ion-col>
           </ion-row>
         </ion-card>  
       </ion-col>
     </ion-row>
   </ion-grid>     
 </div>
 <br>
 <br>

 <div style="background:#8BC832;color: white;">

  <div style="padding: 5px; height: 50px;">
    <h3>Servicios</h3>
  </div>
  <ion-card *ngFor="let service of services">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-6 text-center>
              <p style="font-weight: bold;color:#347B36 ;">Nombre Servicio 1</p>
              <p>Valor Primario</p>
            </ion-col>
            <ion-col col-6 text-center>
              <p class="servicionombre" style="font-weight: bold;color:#347B36 ;">Valor Primario</p>
              <p class="temperaturas" >31 º</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card><br>
</div>
  <!-- <div>
    Marco para fotos
  </div>
  <div>
    <ion-toolbar mode="md">
      <ion-title>
        <ion-icon name="star"></ion-icon>
        Favoritos
      </ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item>
        <favorito-item></favorito-item>
      </ion-item>
    </ion-list>
  </div>

  <div>
    <ion-toolbar mode="md" left>
      <ion-title >
        Resto de servicios
      </ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item *ngFor="let servicio of services">
        <servicio-item [servicio]="servicio"></servicio-item>
      </ion-item>
    </ion-list>
  </div> -->

</ion-content>
