<!--
  Generated template for the GraphPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gráfico de datos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <unidades-frio-graph *ngIf="tipo === 1" [data]="data" [servicio]="servicio"></unidades-frio-graph>
  <porciones-frio-graph *ngIf="tipo === 2" [data]="data" [servicio]="servicio"></porciones-frio-graph>
  <unidades-frio-acumuladas-graph *ngIf="tipo === 3" [data]="data" [servicio]="servicio"></unidades-frio-acumuladas-graph>
</ion-content>
