<!--
  Generated template for the ContactenosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>contactenos</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div>
		<img width="100%" src="assets/imgs/contacto.jpg" alt="">
	</div>
	<ion-card>
		<ion-card-content style="border: .5px #347B36;">
			<p >
				<span style="color:#347B36;">Nuestros clientes son nuestros centro de atención. Nos interesa saber tu opinión o comentario sobre nuestro servicio. Sientete libre de escribir tus comentarios.</span>
			</p>
			<br>
			<div style="text-align: center;">
				<textarea [(ngModel)]="comentarios" style="border-radius: 15px; width: 100%;" name="comentarios" id="" cols="30" rows="10" placeholder="Excribe tu comentario"></textarea>

				<button ion-button style="background: orange; border-radius: 15px; " (click)="comentar(comentarios)">Enviar</button>
			</div>
			

		</ion-card-content>
	</ion-card>
</ion-content>
