<!-- Generated template for the ThingItemComponent component -->
<ion-row>
  <ion-col col-7>
      <div>
          {{thing.nombre}}
        </div>
        <div>
          {{thing.descrip}}
        </div>
  </ion-col>
  <ion-col col-5>
    <button ion-button (click)="preSetGPS()">
      Definir coordenadas GPS
    </button>
  </ion-col>
</ion-row>

