<!-- Generated template for the FavoritoItemComponent component -->
<div>
  <ion-grid>
  <ion-row>
    <div ion-col col-7>
      <span>Nombre Servicio 2</span>
      <ion-row>
        <div ion-col col-6>Valor secundario 1</div>
        <div ion-col col-6>Valor secundario 2</div>
      </ion-row>
      <ion-row>
          <div ion-col col-6>VS1</div>
          <div ion-col col-6>VS2</div>
        </ion-row>
      </div>
    <div ion-col col-5>
      <div>Valor Primario</div>
      <div>30º</div>
    </div>
  </ion-row>
</ion-grid>
</div>
