page-notificaciones {
	.checkbox{
		width: 20px;
		height: 20px;
		vertical-align: middle;
		margin: 15px;
	}
	.grid{
		padding:0;
	}

	h2,small,p{
		color:#347B36;
	}
	.agregarNotificacion{
		color: orange; text-decoration: underline;text-align: center;
	}
}
