<ion-header>

	<ion-navbar color="primary">
		<ion-title>Notificaciones</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div>
		<ion-card>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<ion-row>
							<ion-col col-3>
								<input class="checkbox" type="checkbox">
							</ion-col>
							<ion-col col-9>
								<h2>Titulo de Alarma</h2>
								<p><small>27abril / 13:45pm</small></p>
								<br>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>
		<ion-card>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<ion-row>
							<ion-col col-3>
								<input class="checkbox" type="checkbox">
							</ion-col>
							<ion-col col-9>
								<h2>Titulo de Alarma</h2>
								<p><small>27abril / 13:45pm</small></p>
								<br>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>
		<ion-card>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<ion-row>
							<ion-col col-6 style="text-align: center;">
								<button ion-button color="dark" style="opacity: .4;">Configurar</button>
							</ion-col>
							<ion-col col-6 style="text-align: center;">
								<button ion-button color="dark" style="opacity: .4;">Eliminar</button>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>

		<ion-card>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<p class="agregarNotificacion">AGREGAR NOTIFICACIÓN</p>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>

	</div>
</ion-content>
