<ion-content padding center>
	<div>
		<img width="100%" src="assets/imgs/logo2.png" alt="">
		<h5 style="color: #347B36;text-align: center;">Visualizador global AgroMath</h5>
		<img width="100%" src="assets/imgs/imagelogin.png" alt="">

		<ion-list class="formulariologin">

			<ion-item>
				<ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
			</ion-item>

		</ion-list>

		<div style="background:#8BC832;height: 10px; ">
			
		</div>

		<div style="text-align: center;">
			<button ion-button style="background: orange; border-radius: 15px; " (click)="recuperar(email);">Recuperar</button>
			<button ion-button danger style="background: red; border-radius: 15px; " (click)="salir();">Salir</button>
		</div>
	</div>

</ion-content>
