page-dispositivos {

	.texto{
		color:#347B36 !important;
	}
	.dispasociados{
		background: #347B36;
		color: white;
		text-align: center;
		padding: 5px;
	}

	.configurar{
		background: orange; border-radius: 15px;
	}

}
