<ion-header>

  <ion-navbar color="primary">
    <ion-title>Dispositivos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa tempora, recusandae iste maiores soluta quia praesentium perferendis autem ex fugiat! Cupiditate ab odio nisi quisquam rerum dolorum quo! Reiciendis, odit?</p>
    </ion-card-content>
  </ion-card>

  <div class="dispasociados">
    <h5>Dispositivos Asociados a tu Contrato</h5>
  </div>

  <ion-card>
    <ion-grid *ngFor="let disp of dispositivo">
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-7 style="color:#347B36;">
              <h3 style="font-size:1.7em;">{{disp.title}}</h3>
              <p>{{disp.descripcion}}</p>
            </ion-col>
            <ion-col col-5>
              <button class="configurar" ion-button block>Configurar</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  
 <!--  <ion-toolbar>
    <ion-title mode="md" left>
      Dispositivos asociados a tu contrato
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let thing of things">
      <thing-item [thing]="thing"></thing-item>
    </ion-item>
  </ion-list> -->
</ion-content>
