<!--
  Generated template for the ConfigureAlarmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Alarma de autoescalamiento</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <p>Defina las caracteristicas operativas que tendrá la alarma asociada al servicio</p>
  <span>{{alarm.nombre}}</span>

  <ion-toolbar mode="md" left>
    <ion-title >
      Selecciona el valor que será evaluado
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let variable of alarm.evaluation_var; let i = index">
      <ion-label>{{variable}}</ion-label>
    <ion-checkbox [(ngModel)]="evaluation_var[i]"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-toolbar mode="md" left>
    <ion-title >
      Se generará la notificación, si el valor seleccionado...
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let variable of alarm.evaluation_var; let i = index">
      <ion-label>{{variable}}</ion-label>
    <ion-checkbox [(ngModel)]="evaluation_var[i]"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
