<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Información</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<button ion-item (click)="contacto()" style="color: orange; ">Contactenos</button>
		<button ion-item (click)="nosotros()" style="color: orange; ">Nosotros</button>
	</ion-list>
</ion-content>
