page-servicios {
	.configurar{
		background: orange; border-radius: 15px; margin-top: 50%;
	}

	[col-7], .parrafo{
		color:#347B36 !important;
	}
	@media screen and (min-width: 767px) {
		.configurar{
			margin-top:6% !important;
		}
	}
}
