<!--
  Generated template for the ServiciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>Servicios</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-card>
		<ion-card-content>
			<p class="parrafo">A continuación, esta la lista de servicios disponibles asociados a su contrato. Haga click en el botón lateral para configurar las caracteristicas de estos.</p>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<ion-row>
						<ion-col col-7>
							<h3 style="font-size:1.7em;">Servicio 1</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rerum rem dolorum ipsum nihil enim.
							</p>
						</ion-col>
						<ion-col col-5>
							<button class="configurar" ion-button block>Configurar</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<ion-row>
						<ion-col col-7 style="color:#347B36;">
							<h3 style="font-size:1.7em;">Servicio 1</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rerum rem dolorum ipsum nihil enim.
							</p>
						</ion-col>
						<ion-col col-5>
							<button ion-button block class="configurar">Configurar</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<ion-row>
						<ion-col col-7 style="color:#347B36;">
							<h3 style="font-size:1.7em;">Servicio 1</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rerum rem dolorum ipsum nihil enim.
							</p>
						</ion-col>
						<ion-col col-5>
							<button ion-button block class="configurar">Configurar</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col col-12 style="text-align: center;">
					<p style="color: orange; text-decoration: underline;" (click)="configurar()">Configurar Dispositivos</p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>
